<HTML>
	<HEAD>
        <TITLE>Marcação de ponto Web</TITLE>
		<script src="https://code.jquery.com/jquery-1.11.2.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script type="text/javascript">
			jQuery(window).load(function($){
				atualizaRelogio();
			});
		</script>
        <style>
            h1 {
                text-align: center;
                font-size: 55px;
                font-family: sans-serif
            }

            .button {
              background-color: lightseagreen; /* Green */
              border: none;
              color: white;
              padding: 16px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 2% 2px;
              transition-duration: 0.4s;
              cursor: pointer;
              border-radius: 5px;
            }
            
            .button1 {
              background-color: lightseagreen; 
              color: white; 
            }
            
            .button1:hover {
              background-color: rgb(23, 126, 121);
              color: white;
            }
            </style>
            <script type="text/javascript">
                async function realizaMarcacao(){
                    var momentoAtual = new Date();
			
                    var vhora = momentoAtual.getHours();
                    var vminuto = momentoAtual.getMinutes();
                    var vsegundo = momentoAtual.getSeconds();

                    var vdia = momentoAtual.getDate();
                    var vmes = momentoAtual.getMonth() + 1;
                    var vano = momentoAtual.getFullYear();

                    if (vdia < 10){ vdia = "0" + vdia;}
                    if (vmes < 10){ vmes = "0" + vmes;}
                    if (vhora < 10){ vhora = "0" + vhora;}
                    if (vminuto < 10){ vminuto = "0" + vminuto;}
                    if (vsegundo < 10){ vsegundo = "0" + vsegundo;}

                    dataFormat = vano + "-" + vmes + "-" + vdia;
			        horaFormat = vhora + ":" + vminuto + ":" + vsegundo;

                    var includedAt = dataFormat + " " + horaFormat;

                    try {     
                        const response = fetch('https://api-marcacao-ponto.herokuapp.com/marcacao', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json',
                            'Access-Control-Allow-Origin': 'https://api-marcacao-ponto.herokuapp.com',
                            'Accept': 'application/json',
                            'Access-Control-Allow-Methods': 'POST',
                            'Access-Control-Allow-Headers': 'Origin, X-Api-Key, X-Requested-With, Content-Type, Accept, Authorization',
                        },
                        body: `{
                            "includedAt":"${dataFormat} ${horaFormat}", 
                            "employeeId": null, 
                            "employerId": 1}`
                        }).then(response => response.json());
                        
                        console.log(response);
                        if(response[0]?.message == null){
                            if(vmes = 1){vMesDescricao = "Janeiro";}
                            if(vmes = 2){vMesDescricao = "Fevereiro";}
                            if(vmes = 3){vMesDescricao = "Março";}
                            if(vmes = 4){vMesDescricao = "Abril";}
                            if(vmes = 5){vMesDescricao = "Maio";}
                            if(vmes = 6){vMesDescricao = "Junho";}
                            if(vmes = 7){vMesDescricao = "Julho";}
                            if(vmes = 8){vMesDescricao = "Agosto";}
                            if(vmes = 9){vMesDescricao = "Setembro";}
                            if(vmes = 10){vMesDescricao = "Outubro";}
                            if(vmes = 11){vMesDescricao = "Novembro";}
                            if(vmes = 12){vMesDescricao = "Dezembro";}

                        
                            dataFormat = vdia + " de " + vMesDescricao + " de " + vano;
                            horaFormat = vhora + ":" + vminuto + ":" + vsegundo;
                            swal('Marcação realizada com sucesso!', `${dataFormat} ${horaFormat}`, 'success');
                        } else {
                            console.log(response);
                            swal(response[0]?.message, 'error');
                        }


                        
                    } catch(err) {
                        console.error(`Error: ${err}`);
                        swal(`Erro ocorrido: ${err}`, 'error');
                    }
                };
            </script>
	</HEAD>
	<BODY style="padding: 15px; border: 1px solid #ccc; border-radius: 0!important;">
    <h1>Marcação de Ponto</h1>
        <div style="width: 100%; text-align: center;">
            <div>
                <output id="hora" style="font-family: 'Open Sans','sans-serif'; font-size: 60px;"></output>					
            </div>
            <div>
                <output id="data" style="font-family: 'Open Sans','sans-seri'f; font-size: 35px;"></output>
            </div>	

            <button onclick="realizaMarcacao()" id="post-btn" class="button button1">Registrar ponto</button>
        </div>
	</BODY>
	<script>
		function atualizaRelogio(){ 
			var momentoAtual = new Date();
			
			var vhora = momentoAtual.getHours();
			var vminuto = momentoAtual.getMinutes();
			var vsegundo = momentoAtual.getSeconds();
			
			var vdia = momentoAtual.getDate();
			var vmes = momentoAtual.getMonth() + 1;
			var vano = momentoAtual.getFullYear();
			
			if (vdia < 10){ vdia = "0" + vdia;}
			if (vmes < 10){ vmes = "0" + vmes;}
			if (vhora < 10){ vhora = "0" + vhora;}
			if (vminuto < 10){ vminuto = "0" + vminuto;}
			if (vsegundo < 10){ vsegundo = "0" + vsegundo;}

            var vmesDescricao = "";
        
            if(vmes = 1){vMesDescricao = "Janeiro";}
            if(vmes = 2){vMesDescricao = "Fevereiro";}
            if(vmes = 3){vMesDescricao = "Março";}
            if(vmes = 4){vMesDescricao = "Abril";}
            if(vmes = 5){vMesDescricao = "Maio";}
            if(vmes = 6){vMesDescricao = "Junho";}
            if(vmes = 7){vMesDescricao = "Julho";}
            if(vmes = 8){vMesDescricao = "Agosto";}
            if(vmes = 9){vMesDescricao = "Setembro";}
            if(vmes = 10){vMesDescricao = "Outubro";}
            if(vmes = 11){vMesDescricao = "Novembro";}
            if(vmes = 12){vMesDescricao = "Dezembro";}

			dataFormat = vdia + " de " + vMesDescricao + " de " + vano;
			horaFormat = vhora + ":" + vminuto + ":" + vsegundo;

			document.getElementById("data").innerHTML = dataFormat;
			document.getElementById("hora").innerHTML = horaFormat;

			setTimeout("atualizaRelogio()",1000);

		}
	</script>	
</HTML>
